body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000 !important;
}
li{
  list-style-type: none;
}
a {
    text-decoration: none !important;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
    color: #1EB854 !important;
}



